.body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.texto {
    font-family: Helvetica;
    font-style: italic;
    color: #FFF8E7;
    background-color: transparent;
    position: absolute; 
    display: none;
    left: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

.texto0 {
    top: 25%;
    height: 50%;
    text-align: center;
    font-size: 30vh;
    z-index: 3;
    display: block!important;
}

.proximo {
    position: absolute;
    top: 80vh;
    left: 88vw;
    z-index: 20;
    /* font-size: 2vh; */
    display: block;
    width: 10vw;
    height: 10vh;
    background-repeat: no-repeat;
    cursor: pointer!important;
}

.anterior {
    position: absolute;
    top: 80vh;
    left: 2vw;
    z-index: 20;
    /* font-size: 2vh; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: block;
    width: 10vw;
    height: 10vh;
    background-repeat: no-repeat;
    cursor: pointer!important;
}

.logoStart {
    position: absolute;
    width: 10%;
    left: 88%;
    top: 1%;
    display: block;
    z-index: 20;
}

.logoEnd {
    position: absolute;
    width: 10%;
    left: 2%;
    bottom: 1%;
    display: none;
    z-index: 20;
}

/* ESTILOS DOS TEXTOS EM INGLÊS */
.texto00en {
    top: 0vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 15vw;
}

.texto01en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 10;
    font-size: 40vw;
}

.texto02en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 16.3vw;
}

.texto03en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 19.7vw;
}

.texto04en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 90vh;
    text-align: center;
    z-index: 3;
    font-size: 55vw;
}

.texto05en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 90vh;
    text-align: center;
    z-index: 3;
    font-size: 53vw;
}

.texto06en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 31vw;
}

.texto07en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
}

.texto071en {
    top: 30vh;
    z-index: 3;
    font-size: 6.4vw;
    text-align: center;
}

.texto072en {
    top: 45vh;
    text-align: center;
    z-index: 3;
    font-size: 13.5vw;
}

.texto08en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 17.5vw;
}

.texto09en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 15.5vw;
}

.texto10en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 12.2vw;
}

.texto11en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 31vw;
}

.texto12en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 20vw;
}

.texto13en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 90vh;
    text-align: center;
    z-index: 3;
    font-size: 40.5vw;
}

.texto14en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 12.5vw;
}

.texto15en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
}

.texto151en {
    top: 20vh;
    text-align: center;
    z-index: 3;
    font-size: 13.5vw;
}

.texto152en {
    top: 50vh;
    text-align: center;
    z-index: 3;
    font-size: 14.5vw;
}

.texto16en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 16vw;
}

.texto17en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 17vw;
}

.texto18en {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 29.7vw;
}

.texto19en {
    top: 20vh;
    height: 50vh;
    text-align: center;
    z-index: 3;
    font-size: 10vw;
}

.texto20en {
    top: 20vh;
    height: 50vh;
    text-align: center;
    z-index: 0;
    font-size: 10vw;
    cursor: default!important;
}

.texto2001en {
    font-size: 1vw;
    top: 2vh;
    left: 24vw;
    cursor: default!important;
}

.texto2002en {
    font-size: 1vw;
    top: 5vh;
    left: 4vw;
    cursor: default!important;
}

.texto2004en {
    font-size: 1vw;
    top: 10vh;
    left: 10vw;
    cursor: default!important;
}

.texto2005en {
    font-size: 1vw;
    top: 30vh;
    left: 5vw;
    cursor: default!important;
}

.texto2006en {
    font-size: 1vw;
    top: 35vh;
    left: 78vw;
    cursor: default!important;
}

.texto2007en {
    font-size: 1vw;
    top: 45vh;
    left: 6vw;
    cursor: default!important;
}

.texto2008en {
    font-size: 1vw;
    top: 55vh;
    left: 25vw;
    cursor: default!important;
}

.texto2009en {
    font-size: 1vw;
    top: 60vh;
    left: 12vw;
    cursor: default!important;
}

.texto2010en {
    font-size: 1vw;
    top: 70vh;
    left: 19vw;
    cursor: default!important;
}

.texto2011en {
    font-size: 1vw;
    top: 60vh;
    left: 47vw;
    cursor: default!important;
}

.texto2012en {
    font-size: 1vw;
    top: 70vh;
    left: 55vw;
    cursor: default!important;
}

.texto2013en {
    font-size: 1vw;
    top: 74vh;
    left: 23vw;
    cursor: default!important;
}

.texto2014en {
    font-size: 1vw;
    top: 80vh;
    left: 34vw;
    cursor: default!important;
}

.texto2015en {
    font-size: 1vw;
    top: 85vh;
    left: 52vw;
    cursor: default!important;
}

.texto2016en {
    font-size: 1vw;
    top: 3vh;
    left: 69vw;
    cursor: default!important;
}

.texto2017en {
    font-size: 1vw;
    top: 10vh;
    left: 58vw;
    cursor: default!important;
}

.texto2018en {
    font-size: 1vw;
    top: 18vh;
    left: 63vw;
    cursor: default!important;
}

.texto2019en {
    font-size: 1vw;
    top: 25vh;
    left: 58vw;
    cursor: default!important;
}

.texto2020en {
    font-size: 1vw;
    top: 65vh;
    left: 21vw;
    cursor: default!important;
}

.texto2021en {
    font-size: 1vw;
    top: 50vh;
    left: 60vw;
    cursor: default!important;
}

.texto2022en {
    font-size: 1vw;
    top: 65vh;
    left: 65vw;
    cursor: default!important;
}

.texto2023en {
    font-size: 1vw;
    top: 70vh;
    left: 69vw;
    cursor: default!important;
}

.texto2024en {
    font-size: 1vw;
    top: 80vh;
    left: 58vw;
    cursor: default!important;
}

.texto2025en {
    font-size: 1vw;
    top: 90vh;
    left: 62vw;
    cursor: default!important;
}

.texto2026en {
    font-size: 1vw;
    top: 18vh;
    left: 36vw;
    cursor: default!important;
}

.texto2027en {
    font-size: 1vw;
    top: 25vh;
    left: 39vw;
    cursor: default!important;
}

.texto2028en {
    font-size: 1vw;
    top: 95vh;
    left: 60vw;
    cursor: default!important;
}

.texto2029en {
    font-size: 1vw;
    top: 90vh;
    left: 20vw;
    cursor: default!important;
}

/* ESTILOS DOS TEXTOS EM FRANCÊS */
.texto00fr {
    top: 35vh;
    height: 33vh;
    text-align: center;
    z-index: 3;
    font-size: 13.8vw;
}

.texto01fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 20vw;
}

.texto02fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 17vw;
}

.texto03fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 18.5vw;
}

.texto04fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 33.7vw;
}

.texto05fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 38vw;
}

.texto06fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 31vw;
}

.texto07fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
}

.texto071fr {
    top: 30vh;
    text-align: center;
    z-index: 3;
    font-size: 8vw;
}

.texto072fr {
    top: 45vh;
    text-align: center;
    z-index: 3;
    font-size: 11.5vw;
}

.texto08fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 16.7vw;
}

.texto09fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 16.2vw;
}

.texto10fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 8.7vw;
}

.texto11fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 8.2vw;
}

.texto12fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 8.6vw;
}

.texto13fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 90vh;
    text-align: center;
    z-index: 3;
    font-size: 38vw;
}

.texto14fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 7vw;
}

.texto15fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
}

.texto151fr {
    top: 20vh;
    height: 50vh;
    text-align: center;
    z-index: 3;
    font-size: 13.3vw;
}

.texto152fr {
    top: 50vh;
    height: 50vh;
    text-align: center;
    z-index: 20;
    font-size: 13.8vw;
}

.texto16fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 15.1vw;
}

.texto17fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 14.5vw;
}

.texto18fr {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 38.3vw;
}

.texto19fr {
    top: 20vh;
    height: 50vh;
    text-align: center;
    z-index: 3;
    font-size: 10vw;
}

.texto20fr {
    top: 20vh;
    height: 50vh;
    text-align: center;
    z-index: 0;
    font-size: 10vw;
    cursor: default!important;
}

.texto2001fr {
    font-size: 1vw;
    top: 2vh;
    left: 24vw;
    cursor: default!important;
}

.texto2002fr {
    font-size: 1vw;
    top: 5vh;
    left: 4vw;
    cursor: default!important;
}

.texto2004fr {
    font-size: 1vw;
    top: 10vh;
    left: 10vw;
    cursor: default!important;
}

.texto2005fr {
    font-size: 1vw;
    top: 30vh;
    left: 5vw;
    cursor: default!important;
}

.texto2006fr {
    font-size: 1vw;
    top: 35vh;
    left: 78vw;
    cursor: default!important;
}

.texto2007fr {
    font-size: 1vw;
    top: 45vh;
    left: 6vw;
    cursor: default!important;
}

.texto2008fr {
    font-size: 1vw;
    top: 55vh;
    left: 25vw;
    cursor: default!important;
}

.texto2009fr {
    font-size: 1vw;
    top: 60vh;
    left: 12vw;
    cursor: default!important;
}

.texto2010fr {
    font-size: 1vw;
    top: 70vh;
    left: 10vw;
    cursor: default!important;
}

.texto2011fr {
    font-size: 1vw;
    top: 60vh;
    left: 47vw;
    cursor: default!important;
}

.texto2012fr {
    font-size: 1vw;
    top: 70vh;
    left: 55vw;
    cursor: default!important;
}

.texto2013fr {
    font-size: 1vw;
    top: 74vh;
    left: 23vw;
    cursor: default!important;
}

.texto2014fr {
    font-size: 1vw;
    top: 80vh;
    left: 34vw;
    cursor: default!important;
}

.texto2015fr {
    font-size: 1vw;
    top: 85vh;
    left: 52vw;
    cursor: default!important;
}

.texto2016fr {
    font-size: 1vw;
    top: 3vh;
    left: 69vw;
    cursor: default!important;
}

.texto2017fr {
    font-size: 1vw;
    top: 10vh;
    left: 58vw;
    cursor: default!important;
}

.texto2018fr {
    font-size: 1vw;
    top: 20vh;
    left: 63vw;
    cursor: default!important;
}

.texto2019fr {
    font-size: 1vw;
    top: 23vh;
    left: 85vw;
    cursor: default!important;
}

.texto2020fr {
    font-size: 1vw;
    top: 65vh;
    left: 26vw;
    cursor: default!important;
}

.texto2021fr {
    font-size: 1vw;
    top: 45vh;
    left: 60vw;
    cursor: default!important;
}

.texto2022fr {
    font-size: 1vw;
    top: 65vh;
    left: 65vw;
    cursor: default!important;
}

.texto2023fr {
    font-size: 1vw;
    top: 70vh;
    left: 69vw;
    cursor: default!important;
}

.texto2024fr {
    font-size: 1vw;
    top: 80vh;
    left: 58vw;
    cursor: default!important;
}

.texto2025fr {
    font-size: 1vw;
    top: 90vh;
    left: 62vw;
    cursor: default!important;
}

.texto2026fr {
    font-size: 1vw;
    top: 18vh;
    left: 36vw;
    cursor: default!important;
}

.texto2027fr {
    font-size: 1vw;
    top: 13vh;
    left: 39vw;
    cursor: default!important;
}

.texto2028fr {
    font-size: 1vw;
    top: 88vh;
    left: 30vw;
    cursor: default!important;
}

.texto2029fr {
    font-size: 1vw;
    top: 95vh;
    left: 20vw;
    cursor: default!important;
}

/* ESTILOS DOS TEXTOS EM PORTUGUÊS */
.texto00pt {
    bottom: 0;
    height: 33vh;
    text-align: center;
    z-index: 3;
    font-size: 12.2vw;
}

.texto01pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    width: 100%;
    z-index: 3;
    font-size: 17.8vw;
}

.texto02pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 19.8vw;
}

.texto03pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 18.8vw;
}

.texto04pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 90vh;
    text-align: center;
    z-index: 3;
    font-size: 40.5vw;
}

.texto05pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 90vh;
    text-align: center;
    z-index: 3;
    font-size: 48vw;
}

.texto06pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 31vw;
}

.texto07pt {
    top: 0vh;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 3;
}

.texto071pt {
    top: 30vh;
    text-align: center;
    z-index: 3;
    font-size: 8.5vw;
}

.texto072pt {
    top: 45vh;
    text-align: center;
    z-index: 3;
    font-size: 13.6vw;
}

.texto08pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 17.6vw;
}

.texto09pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 17vw;
}

.texto10pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 13vw;
}

.texto11pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 9vw;
}

.texto12pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 9.1vw;
}

.texto13pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 90vh;
    text-align: center;
    z-index: 3;
    font-size: 38vw;
}

.texto14pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 10.5vw;
}

.texto15pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
}

.texto151pt {
    top: 20vh;
    text-align: center;
    z-index: 3;
    font-size: 13.5vw;
}

.texto152pt {
    top: 45vh;
    text-align: center;
    z-index: 3;
    font-size: 19vw;
}

.texto16pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 10.2vw;
}

.texto17pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 18vw;
}

.texto18pt {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 95vh;
    text-align: center;
    z-index: 3;
    font-size: 16vw;
}

.texto19pt {
    top: 20vh;
    height: 50vh;
    text-align: center;
    z-index: 3;
    font-size: 10vw;
}

.texto20pt {
    top: 20vh;
    height: 50vh;
    text-align: center;
    z-index: 0;
    font-size: 10vw;
    cursor: default!important;
}

.texto2001pt {
    font-size: 1vw;
    top: 2vh;
    left: 24vw;
    cursor: default!important;
}

.texto2002pt {
    font-size: 1vw;
    top: 5vh;
    left: 4vw;
    cursor: default!important;
}

.texto2004pt {
    font-size: 1vw;
    top: 10vh;
    left: 10vw;
    cursor: default!important;
}

.texto2005pt {
    font-size: 1vw;
    top: 30vh;
    left: 5vw;
    cursor: default!important;
}

.texto2006pt {
    font-size: 1vw;
    top: 45vh;
    left: 25vw;
    cursor: default!important;
}

.texto2007pt {
    font-size: 1vw;
    top: 45vh;
    left: 6vw;
    cursor: default!important;
}

.texto2008pt {
    font-size: 1vw;
    top: 55vh;
    left: 25vw;
    cursor: default!important;
}

.texto2009pt {
    font-size: 1vw;
    top: 60vh;
    left: 12vw;
    cursor: default!important;
}

.texto2010pt {
    font-size: 1vw;
    top: 70vh;
    left: 19vw;
    cursor: default!important;
}

.texto2011pt {
    font-size: 1vw;
    top: 60vh;
    left: 47vw;
    cursor: default!important;
}

.texto2012pt {
    font-size: 1vw;
    top: 75vh;
    left: 50vw;
    cursor: default!important;
}

.texto2013pt {
    font-size: 1vw;
    top: 74vh;
    left: 23vw;
    cursor: default!important;
}

.texto2014pt {
    font-size: 1vw;
    top: 80vh;
    left: 34vw;
    cursor: default!important;
}

.texto2015pt {
    font-size: 1vw;
    top: 85vh;
    left: 52vw;
    cursor: default!important;
}

.texto2016pt {
    font-size: 1vw;
    top: 3vh;
    left: 69vw;
    cursor: default!important;
}

.texto2017pt {
    font-size: 1vw;
    top: 10vh;
    left: 58vw;
    cursor: default!important;
}

.texto2018pt {
    font-size: 1vw;
    top: 20vh;
    left: 70vw;
    cursor: default!important;
}

.texto2019pt {
    font-size: 1vw;
    top: 45vh;
    left: 68vw;
    cursor: default!important;
}

.texto2020pt {
    font-size: 1vw;
    top: 65vh;
    left: 21vw;
    cursor: default!important;
}

.texto2021pt {
    font-size: 1vw;
    top: 50vh;
    left: 50vw;
    cursor: default!important;
}

.texto2022pt {
    font-size: 1vw;
    top: 65vh;
    left: 65vw;
    cursor: default!important;
}

.texto2023pt {
    font-size: 1vw;
    top: 70vh;
    left: 60vw;
    cursor: default!important;
}

.texto2024pt {
    font-size: 1vw;
    top: 80vh;
    left: 58vw;
    cursor: default!important;
}

.texto2025pt {
    font-size: 1vw;
    top: 90vh;
    left: 62vw;
    cursor: default!important;
}

.texto2026pt {
    font-size: 1vw;
    top: 12vh;
    left: 30vw;
    cursor: default!important;
}

.texto2027pt {
    font-size: 1vw;
    top: 95vh;
    left: 75vw;
    cursor: default!important;
}

.texto2028pt {
    font-size: 1vw;
    top: 80vh;
    left: 10vw;
    cursor: default!important;
}

.texto2029pt {
    font-size: 1vw;
    top: 95vh;
    left: 30vw;
    cursor: default!important;
}

.texto2030pt {
    font-size: 1vw;
    top: 20vh;
    left: 55vw;
    cursor: default!important;
}

.video0 {
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0px; 
    padding: 0px;  
    
}

  .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    right: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  ::-webkit-scrollbar {
    display: none;
  }